
	<section>
		<div class="section_list introduce">
			<div class="container">
				<div class="row">
					<div class="introduce_top col-sm-12">
						<h2 class="title_section">Get food fast - not fast food 1</h1>
						<p>11111111111Hello, we're Omnifood, your new premium food delivery service. We know you're always busy. No time for cooking. So let us take care of that, we're really good at it, we promise!</p>
					</div>
					<div class="introduce_bottom col-sm-12">
						<div class="row">
							<div class="item col-lg-3 col-sm-6">
								<div class="item_icon">
									<span class="fas_icon">
										<i class="fal fa-infinity"></i>
									</span>
								</div>
								<div class="item_title">
									<h3>Up to 365 days/year</h3>
									<p>Never cook again! We really mean that. Our subcription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that's your style</p>
								</div>
							</div>
							<div class="item col-lg-3 col-sm-6">
								<div class="item_icon">
									<span class="fas_icon">
										<i class="fal fa-clock"></i>
									</span>
								</div>
								<div class="item_title">
									<h3>Up to 365 days/year</h3>
									<p>Never cook again! We really mean that. Our subcription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that's your style</p>
								</div>
							</div>
							<div class="item col-lg-3 col-sm-6">
								<div class="item_icon">
									<span class="fas_icon">
										<i class="fas fa-carrot"></i>
									</span>
								</div>
								<div class="item_title">
									<h3>Up to 365 days/year</h3>
									<p>Never cook again! We really mean that. Our subcription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that's your style</p>
								</div>
							</div>
							<div class="item col-lg-3 col-sm-6">
								<div class="item_icon">
									<span class="fas_icon">
										<i class="fad fa-shopping-cart"></i>
									</span>
								</div>
								<div class="item_title">
									<h3>Up to 365 days/year</h3>
									<p>Never cook again! We really mean that. Our subcription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that's your style</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section_list image_advertisement">
			<div class="row">
				<div class="item_image_advertisement col-lg-3 col-sm-6">
					<img src="image/1.jpg">
				</div>
				<div class="item_image_advertisement col-lg-3 col-sm-6">
					<img src="image/2.jpg">
				</div>
				<div class="item_image_advertisement col-lg-3 col-sm-6">
					<img src="image/3.jpg">
				</div>
				<div class="item_image_advertisement col-lg-3 col-sm-6">
					<img src="image/4.jpg">
				</div>
				<div class="item_image_advertisement col-lg-3 col-sm-6">
					<img src="image/5.jpg">
				</div>
				<div class="item_image_advertisement col-lg-3 col-sm-6">
					<img src="image/6.jpg">
				</div>
				<div class="item_image_advertisement col-lg-3 col-sm-6">
					<img src="image/7.jpg">
				</div>
				<div class="item_image_advertisement col-lg-3 col-sm-6">
					<img src="image/8.jpg">
				</div>
			</div>
		</div>
		<div class="section_list work_path">
			<div class="container">
				<div class="row">
					<div class="title_work_path col-sm-12">
						<h2 class="title_work_path">How it works - simple as 1, 2 ,3</h1>
					</div>
					<div class="main_work_path col-sm-12">
						<div class="row">
							<figure class="title_work_path_fix col-lg-6 hidden-sm">
								<div><img src="image/app-iPhone.png" alt="Food Delivery"></div>
							</figure>
							<figcaption class="title_work_path_fix col-lg-6 col-sm-12">
								<ul>
									<li>
										<div class="row">
											<div class="numcount_item col-sm-2">
												<span>1</span>
											</div>
											<div class="title col-sm-10"><p>Choose the subscription plan that best fits your needs and sign up today.</p></div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="numcount_item col-sm-2">
												<span>2</span>
											</div>
											<div class="title col-sm-10"><p>Choose the subscription plan that best fits your needs and sign up today.</p></div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="numcount_item col-sm-2">
												<span>3</span>
											</div>
											<div class="title col-sm-10"><p>Choose the subscription plan that best fits your needs and sign up today.</p></div>
										</div>
									</li>
									<li class="app_suggest"> 
										<div class="row">
											<div class="col-sm-6">
												<img src="image/download-app.svg" alt="App Store">
											</div>
											<div class="col-sm-6">
												<img src="image/download-app-android.png" alt="CH Play">
											</div>
										</div>
									</li>
								</ul>
							</figcaption>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section_list rate_place">
			<div class="container">
				<div class="row">
					<div class="title_rate_place col-sm-12">
						<h2>How it works - simple as 1, 2 ,3</h1>
					</div>
					<div class="rate_place_main owl-carousel owl-theme col-sm-12" data-ride="carousel">
						<div class="item rate_place_item">
							<figure><img src="image/lisbon-3.jpg" alt="Lisbon"></figure>
							<figcaption>
								<h4>Lisbon</h4>
								<ul>
									<li>
										<span class="fas_icon">
											<i class="fas fa-user"></i>
										</span>
										1600+ happy eaters	
									</li>
									<li>
										<span class="fas_icon">
											<i class="fas fa-star"></i>
										</span>
										60+ chefs	
									</li>
									<li>
										<span class="fas_icon">
											<i class="fab fa-twitter"></i>
										</span>
										<a href="#">@Omnifood</a>	
									</li>
								</ul>
							</figcaption>
						</div>
						<div class="item rate_place_item">
							<figure><img src="image/san-francisco.jpg" alt="Lisbon"></figure>
							<figcaption>
								<h4>Lisbon</h4>
								<ul>
									<li>
										<span class="fas_icon">
											<i class="fas fa-user"></i>
										</span>
										1600+ happy eaters	
									</li>
									<li>
										<span class="fas_icon">
											<i class="fas fa-star"></i>
										</span>
										60+ chefs	
									</li>
									<li>
										<span class="fas_icon">
											<i class="fab fa-twitter"></i>
										</span>
										<a href="#">@Omnifood</a>	
									</li>
								</ul>
							</figcaption>
						</div>
						<div class="item rate_place_item">
							<figure><img src="image/berlin.jpg" alt="Lisbon"></figure>
							<figcaption>
								<h4>Lisbon</h4>
								<ul>
									<li>
										<span class="fas_icon">
											<i class="fas fa-user"></i>
										</span>
										1600+ happy eaters	
									</li>
									<li>
										<span class="fas_icon">
											<i class="fas fa-star"></i>
										</span>
										60+ chefs	
									</li>
									<li>
										<span class="fas_icon">
											<i class="fab fa-twitter"></i>
										</span>
										<a href="#">@Omnifood</a>	
									</li>
								</ul>
							</figcaption>
						</div>
						<div class="item rate_place_item">
							<figure><img src="image/london.jpg" alt="Lisbon"></figure>
							<figcaption>
								<h4>Lisbon</h4>
								<ul>
									<li>
										<span class="fas_icon">
											<i class="fas fa-user"></i>
										</span>
										1600+ happy eaters	
									</li>
									<li>
										<span class="fas_icon">
											<i class="fas fa-star"></i>
										</span>
										60+ chefs	
									</li>
									<li>
										<span class="fas_icon">
											<i class="fab fa-twitter"></i>
										</span>
										<a href="#">@Omnifood</a>	
									</li>
								</ul>
							</figcaption>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section_list price_product">
			<div class="container">
				<div class="row">
					<div class="title_price_product col-sm-12">
						<h2>Start eat healthy today</h1>
					</div>
					<div class="price_product_main owl-carousel owl-theme col-sm-12">
						<div class="item">
							<div class="price_product_main_top">
								<h4>Premium</h4>
								<p class="price"><span>$399</span> /month</p>
								<p>That's only 13.30$ per meal</p>
							</div>
							<div class="price_product_main_bottom">
								<ul>
									<li><span><i class="fas fa-check"></i></span>1 meat every day</li>
									<li><span><i class="fas fa-check"></i></span>Order 24/7</li>
									<li><span><i class="fas fa-check"></i></span>Access to newest creations</li>
									<li><span><i class="fas fa-check"></i></span>Free delivery</li>
								</ul>
							</div>
							<div class="price_product_main_sign_up">
								<button>Sign up now</button>
							</div>
						</div>
						<div class="item">
							<div class="price_product_main_top">
								<h4>Pro</h4>
								<p class="price"><span>$149</span> /month</p>
								<p>That's only 13.30$ per meal</p>
							</div>
							<div class="price_product_main_bottom">
								<ul>
									<li><span><i class="fas fa-check"></i></span>1 meat every day</li>
									<li><span><i class="fas fa-check"></i></span>Order 24/7</li>
									<li><span><i class="fas fa-check"></i></span>Access to newest creations</li>
									<li><span><i class="fas fa-check"></i></span>Free delivery</li>
								</ul>
							</div>
							<div class="price_product_main_sign_up">
								<button>Sign up now</button>
							</div>
						</div>
						<div class="item">
							<div class="price_product_main_top">
								<h4>Starter</h4>
								<p class="price"><span>$19</span> /month</p>
								<p>That's only 13.30$ per meal</p>
							</div>
							<div class="price_product_main_bottom">
								<ul>
									<li><span><i class="fas fa-check"></i></span>1 meat every day</li>
									<li><span><i class="fas fa-check"></i></span>Order 24/7</li>
									<li><span><i class="fas fa-check"></i></span>Access to newest creations</li>
									<li><span><i class="fas fa-check"></i></span>Free delivery</li>
								</ul>
							</div>
							<div class="price_product_main_sign_up">
								<button>Sign up now</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section_list mail_input">
			<div class="container">
				<div class="row">
					<div class="map_google col-lg-6 hidden-sm" id="map_google_id">
					</div>
					<div class="mail_input_place col-lg-6 col-sm-12">
						<div class="title_mail_input_place">
							<h2>Start eat healthy today</h1>
						</div>
						<div class="form_input_mail">
							<form action="#">
								<div class="form-group row">
									<label for="name" class="col-sm-2 col-form-label">Name</label>
									<div class="col-sm-10">
									  	<input type="text" class="form-control" id="name" placeholder="Name">
									</div>
								</div>
								<div class="form-group row">
									<label for="email" class="col-sm-2 col-form-label">Email</label>
									<div class="col-sm-10">
									  	<input type="email" class="form-control" id="email" placeholder="Email">
									</div>
								</div>
								<div class="form-group row">
									<label for="email" class="col-sm-2 col-form-label">Email</label>
									<div class="col-sm-10">
										<select class="custom-select">
											<option selected>Open this select menu</option>
											<option value="1">One</option>
											<option value="2">Two</option>
											<option value="3">Three</option>
										  </select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-2">Newsletter</div>
									<div class="col-sm-10">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" id="gridCheck1">
											<label class="form-check-label" for="gridCheck1">
												Yes, please
											</label>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label for="text" class="col-sm-2 col-form-label">Name</label>
									<div class="col-sm-10">
										<textarea name="text" id="text"></textarea>
									</div>
								</div>
								<div class="form-group row">
									<label for="text" class="col-sm-2 col-form-label"></label>
									<div class="col-sm-10">
										<button type="submit">Submit form</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>