<footer>
    <div class="container">
        <div class="row">
            <div class="footer_suggess_app col-sm-12">
                <div class="row">
                    <div class="left col-lg-6 col-sm-12">
                        <ul>
                            <li>
                                About us
                            </li>
                            <li>
                                Blog
                            </li>
                            <li>
                                Press
                            </li>
                            <li>
                                IOS App
                            </li>
                            <li>
                                Android App
                            </li>
                        </ul>
                    </div>
                    <div class="right col-lg-6 col-sm-12">
                        <ul>
                            <li>
                                <span><i class="fab fa-facebook-square"></i></span>
                            </li>
                            <li>
                                <span><i class="fab fa-twitter"></i></span>
                            </li>
                            <li>
                                <span><i class="fab fa-google-plus-g"></i></span>
                            </li>
                            <li>
                                <span><i class="fab fa-instagram"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_last_word col-sm-12">
                <p>This webpage was created for the course "Design and Develop a Killer Websie Using HTML5 anh CSS3" by Jonas Schmendtman. No copyrights here.<br>This webpage is for you! So go and do whatever you want with it and have fun.</p>
                <p class="design_by">Design by Nguyen Duc Huy - BOTA</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>