<!DOCTYPE html>
<html lang="en">
<head>
    <% include include_link_script %>
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="header_module col-sm-12">
					<div class="row">
						<div class="image_header col-sm-2"><img src="image/logo-white.png" alt="" class="logo"></div>
						<div class="option col-sm-10">			
							<ul style="margin: 0px">
								<div class="row">
									<li class="col-sm-3"><a href="https://smartmealvn.com/">home</a></li>
									<li class="col-sm-3"><a href="https://smartmealvn.com/gioi-thieu">about us</a></li>
									<li class="col-sm-3"><a href="https://smartmealvn.com/thuc-don">menu</a></li>
									<li class="col-sm-3"><a href="https://smartmealvn.com/my-account">sign in</a></li>
									<li class="col-sm-3"><a href="https://smartmealvn.com/contact-us">contact us</a></li>
								</div>
							</ul>
						</div>
					</div>
				</div>	
				<div class="herotextbox">
					<h1>Goodbye junk food.</h1>
					<h1>Hello super healthy meals.</h1>
					<a class="btn btn-full" href="/">I'm hungry</a>
					<a class ="btn btn-ghost" href="/dashboard">Our purpose</a>
					<a class ="btn btn-ghost" href="/items/item_list">Our purpose</a>
				</div>
			</div>
		</div>
	</header>